<div class="form-container">

  <div class="form-input-field-with-button">

    <mat-form-field style="width: 20em;">
      <mat-label>URL Key</mat-label>
      <input matInput type="text" class="form-control lang-text" id="urlKey" required [(ngModel)]="model.urlKey"
             name="urlKey" [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)='somethingSelected($event.option.value)'>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.key}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button  (click)="indexSong()">Index Words</button>

    <button mat-flat-button  (click)="ingestSong()">Ingest</button>

    <button mat-flat-button (click)="resetForm()">Clear</button>
  </div>

  <br/>
  <br/>
  <span class="error">{{model.message}}</span>
</div>
