<h2 mat-dialog-title>Update Dictionary</h2>

<mat-dialog-content>


  <mat-form-field style="width: 30em">
    <mat-label>Meaning</mat-label>
    <textarea matInput [(ngModel)]="updateView.meaning"></textarea>
  </mat-form-field>


  <br/>
  <mat-form-field>
    <mat-label>Romanized word</mat-label>
    <input matInput [(ngModel)]="updateView.romanized_word">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hindi Word</mat-label>
    <input matInput [(ngModel)]="updateView.hindi_word">
  </mat-form-field>s

  <mat-form-field>
    <mat-label>"Urdu Word</mat-label>
    <input matInput [(ngModel)]="updateView.urdu_word">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Part of Speech</mat-label>
    <mat-select [(ngModel)]="updateView.part_of_speech">
      <mat-option  *ngFor="let partOfSpeech of partOfSpeechComboValues" [value]="partOfSpeech" >
        {{partOfSpeech}}
      </mat-option>
    </mat-select>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>

  <button mat-flat-button
          (click)="close()">
    Close
  </button>


  <button mat-flat-button #saveButton (click)="submit()">
    Save
  </button>

</mat-dialog-actions>

