<div class="form-container">


<!--  <div class="form-input-field-with-button">-->

<!--    <mat-form-field style="width: 20em;">-->
<!--      <mat-label>File Name</mat-label>-->
<!--      <input matInput type="text" class="form-control lang-text" id="fileName" required [(ngModel)]="model.url"-->
<!--             name="fileName"-->
<!--             [formControl]="myControl" [matAutocomplete]="fileNameInput">-->

<!--      <mat-autocomplete #fileNameInput="matAutocomplete" [displayWith]="displayFn"-->
<!--                        (optionSelected)='somethingSelected($event.option.value)'>-->
<!--        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
<!--          {{option.key}}-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->
<!--    <button mat-flat-button style="margin-right: 5px" (click)="validateSong()">Validate</button>-->
<!--    <button mat-flat-button style="margin-right: 5px" (click)="replaceNuktas()">Replace Nuktas</button>-->
<!--    <button mat-flat-button style="margin-right: 5px" (click)="applyCorrector()">Apply Corrector</button>-->

<!--  </div>-->

  <div class="form-input-field-with-button">

  <mat-form-field style="width: 20em;">
    <mat-label>Song URL Key</mat-label>
    <input
    type="text"
    matInput
    [(ngModel)]="model.searchQuery"
    [matAutocomplete]="auto"
    name="searchQuery"
    placeholder="Search..."
    (input)="search(model.searchQuery)"
  />

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.key }}
    </mat-option>
  </mat-autocomplete>
  </mat-form-field>
    <button mat-flat-button style="margin-right: 5px" (click)="validateSong()">Validate</button>
    <button mat-flat-button style="margin-right: 5px" (click)="replaceNuktas()">Replace Nuktas</button>
    <button mat-flat-button style="margin-right: 5px" (click)="applyCorrector()">Apply Corrector</button>

  </div>

  <div class="body">
    <table width="100%">
      <tr *ngFor="let entry of this.model.messages" class="row">
        <td >{{entry}}</td>
      </tr>
    </table>
  </div>

</div>


