<form>
  <div class="form-group">
    <legend>Song Validation</legend>

    <div class="form-row">
      <label for="fileName" class="form-label">File Name</label>
      <input type="text" class="form-control lang-text" id="fileName" required [(ngModel)]="model.url" name="fileName" [formControl]="myControl" [matAutocomplete]="auto">
    </div>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='somethingSelected($event.option.value)'>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.key}}
      </mat-option>
    </mat-autocomplete>

    <button  mat-flat-button   style="margin-right: 5px" (click)="validateSong()">Validate</button>
    <button  mat-flat-button  style="margin-right: 5px" (click)="replaceNuktas()">Replace Nuktas</button>
    <button  mat-flat-button  style="margin-right: 5px" (click)="applyCorrector()">Apply Corrector</button>
    <br/>
    <br/>
  </div>
  <br/>
  <div class="body">
    <table width="100%">
      <tr *ngFor="let entry of this.model.messages" class="row">
        <td >{{entry}}</td>
      </tr>
    </table>
  </div>

</form>
