.lang-text{
  width: 300px;
}

.meaning-textarea{
  width: 500px;
}

.selector{
  width: 400px;
}

#index{
  width: 45px;
}

.form-label {
  width: 250px;
}

.form-row{
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
}


.body{
  flex: 1 0 100%;
  background-color: orange;
  overflow-y: auto;
  flex-flow: column nowrap;
}

td {
  padding: 15px;
  border: 1px solid darkgray;
  margin-left: 10px;
}

.row {
  background-color: white;
  border: 1px solid lightgray;
  padding: 30px;
}


.form-container {
  display:flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 1em;
}

.form-input-field-with-button {
  display:flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 1em;
}

.form-bottom-button-strip {
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1em; width: 100%;
}
