.main-container{
  display: flex;
  flex-flow: column nowrap;
}

.header{
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 50px;
  align-items: center;
  gap: 2em;
  padding: 1em;

}

.lang-text{
  width: 100px;
  margin: 5px;
}

.body{
  flex: 1 0 100%;
  background-color: orange;
  overflow-y: auto;
}


.search-panel{
  flex: 1 0 150px;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  justify-items: center;
}


table {
  background-color: white;
}

td {
  padding: 15px;
  border: 1px solid darkgray;
  margin-left: 10px;
}

.hindi-td{
  width: 100px;
  padding-left: 3px;
  padding-right: 3px;
}

.form-container {
  display:flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 3em;
}

.form-input-field-with-button {
  display:flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 1em;
}

.form-bottom-button-strip {
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1em; width: 100%;
}
