<div class="main-container">
  <div class="header">

    <div class="form-input-field-with-button">
      <mat-form-field style="width: 15em">
        <mat-label>Hindi</mat-label>
        <input matInput type="text" required [(ngModel)]="model.hindi" >
      </mat-form-field>
      <mat-icon (click)="hindiClicked()">search</mat-icon>
    </div>

    <div class="form-input-field-with-button">
      <mat-form-field style="width: 15em">
        <mat-label>Morphology</mat-label>
        <input matInput type="text" required [(ngModel)]="model.morphology" >
      </mat-form-field>
      <mat-icon (click)="morphologyClicked()">search</mat-icon>
    </div>


    <div class="form-input-field-with-button">
      <mat-form-field style="width: 15em">
        <mat-label>Meaning</mat-label>
        <input type="text" matInput class="form-control lang-text"  required [(ngModel)]="model.meaning">
      </mat-form-field>
      <mat-form-field style="width: 15em">
        <mat-label>Part of Speech</mat-label>
        <mat-select [(value)]="model.partOfSpeech">
          <mat-option *ngFor="let partOfSpeech of partOfSpeechComboValues" [value]="partOfSpeech">
            {{ partOfSpeech }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-icon (click)="meaningClicked()">search</mat-icon>
    </div>

    <div class="form-input-field-with-button">
      <mat-form-field style="width: 15em">
        <mat-label>Hindi Substring</mat-label>
        <input matInput type="text" required [(ngModel)]="model.masterHindiSubstring">
      </mat-form-field>
      <mat-icon (click)="masterHindiSubstringClicked()">search</mat-icon>
    </div>

    <div class="form-input-field-with-button">
      <mat-form-field style="width: 15em">
        <mat-label>Urdu Substring</mat-label>
        <input matInput type="text" required [(ngModel)]="model.masterUrduSubstring">
      </mat-form-field>
      <mat-icon (click)="masterUrduSubstringClicked()">search</mat-icon>
    </div>




  </div>
  <div class="body">
    <table width="100%">
      <tr *ngFor="let entry of this.model.entries" class="row">
        <td >{{entry.dictionarySource}}</td>
        <td >{{entry.id}}</td>
        <td >{{entry.hindi}}</td>
        <td>{{entry.urdu}}</td>
        <td>{{entry.latin}}</td>
        <td>{{entry.partOfSpeech}}</td>
        <td>{{entry.meaning}}</td>
        <td>
          <button  mat-flat-button *ngIf="entry.dictionarySource.toString() == 'MURSHID'"  (click)="updateDictionary(entry)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>

      </tr>
    </table>
    <div>
    </div>
