<ng-container class="menu-container">
  <div class="menu">
    <button (click)="inputSelected()">Input</button>
    <button (click)="dictionarySelected()">Dictionary</button>
    <button (click)="songInputSelected()">Song Input</button>
    <button (click)="songCommandsSelected()">Simple Commands</button>
    <button (click)="songIngestionSelected()">Song Ingestion</button>
    <button (click)="inflectionTableSelected()">Inflection Table</button>
    <button (click)="songValidationSelected()">Song Validation</button>
    <button (click)="inflectedSelected()">Inflected</button>
    <button (click)="allTagsSelected()">All Tags</button>
    <button (click)="tagsPerSongSelected()">Tags per Song</button>
    <button (click)="transliterationSelected()">Transliteration</button>
  </div>
</ng-container>
