  <app-messages></app-messages>
  <div class="form-container">

    <div class="selector-and-buttons">

      <div class="form-input-field-with-button">
        <mat-form-field style="width: 20em">
          <mat-label>Song URL Key</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="model.searchQuery"
            [matAutocomplete]="auto"
            name="searchQuery"
            placeholder="Search..."
            (input)="search(model.searchQuery)"
          />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option.key }}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
        <button mat-flat-button type="submit" (click)="getSong()">GET</button>
        <button mat-flat-button  (click)="putSong()">PUT</button>
        <button mat-flat-button  (click) ="insertMasterDialog()" >Insert Master</button>
        <button mat-flat-button  (click)="generateTable()">Generate Table</button>
        <button mat-flat-button  (click)="resequenceTable()">Re-sequence Table</button>
      </div>
    </div>

    <div *ngIf="model.map !== undefined" class="item-list">
      <div *ngFor="let mapEntry of this.model.map" class="row">
        <div *ngIf="mapEntry['position'] !== undefined" class="row-position">
          {{mapEntry['position']}}
        </div>
        <div *ngIf="mapEntry['tableItemType'] === InflectionTableItemType.INFLECTED_ENTRY" class="row-letter">I</div>
        <div *ngIf="mapEntry['tableItemType'] === InflectionTableItemType.MASTER_ENTRY" class="row-letter">M</div>
        <div *ngIf="mapEntry['tableItemType'] === InflectionTableItemType.PLACEHOLDER_ENTRY_TRUE" class="row-letter">T</div>
        <div *ngIf="mapEntry['tableItemType'] ===  InflectionTableItemType.PLACEHOLDER_ENTRY_FALSE" class="row-letter">F</div>
        <div *ngIf="mapEntry['text'] !== undefined" class="row-text" style="width: 15em">
          {{mapEntry['text']}}
        </div>
        <div *ngIf="mapEntry['index'] !== undefined" class="row-index">
          {{mapEntry['index']}}
        </div>
        <div *ngIf="mapEntry['indexes'] !== undefined" class="row-index">
          {{mapEntry['indexes']}}
        </div>
        <div *ngIf="mapEntry['tableItemType'] === InflectionTableItemType.INFLECTED_ENTRY">
          <select class="inflected-select" (change)="onOptionsSelected($event, mapEntry)" style="width: 60em">
            <option *ngFor="let option of mapEntry['inflectedList']"  [selected]="shouldSelect(option, mapEntry)" >
              <!--              <div style="display: flex; flex-flow: row nowrap">-->

              {{option['inflectedHindiIndex']}}&nbsp;
              {{option['partOfSpeech']}}
              {{option['masterDictionaryHindi']}}
              &nbsp;&nbsp;
              {{option['accidences']}}
              &nbsp;&nbsp;&nbsp;&nbsp;
              {{option['meaning']}}


              <!--              </div>-->
            </option>
          </select>
        </div>
        <button *ngIf="mapEntry['tableItemType'] === InflectionTableItemType.INFLECTED_ENTRY" type="button" class="update-button" (click) ="updateInflected(mapEntry)" >Update</button>
      </div>
    </div>

  </div>

