<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="form-row">
      <label for="hindi" class="form-label">Hindi</label>
      <input type="text" class="form-control lang-text" id="hindi" required [(ngModel)]="model.inputView.hindi" name="hindi">
    </div>

    <div class="form-row">
      <label for="index" class="form-label">Index</label>
      <input type='number' id="index" required [(ngModel)]="model.inputView.index" name="index">
    </div>

    <div class="form-row">
      <label for="accidence" class="form-label">Accidence</label>
      <select class="form-control selector" id="accidence" (change)="changedAccidence($event)" required>
        <option value="" [selected]="model.inputView.accidence.length === 0">Select One</option>
        <option value="MASCULINE" [selected]="hasAccidenOfString('MASCULINE')" >Masculine</option>
        <option value="FEMININE" [selected]="hasAccidenOfString('FEMININE')">Feminine</option>
      </select>
    </div>

    <div class="form-row">
      <label for="show_canonical" class="form-label">Show Canonical</label>
      <input type="checkbox" class="form-control" id="show_canonical" required [(ngModel)]="model.inputView.show_canonical" name="show_canonical">
    </div>

    <div class="form-row">
      <label for="treat_as_invariable" class="form-label">Treat as invariable</label>
      <input type="checkbox" class="form-control" id="treat_as_invariable" required [(ngModel)]="model.inputView.treat_as_invariable" name="treat_as_invariable">
    </div>


    <div class="form-row">
      <label for="add_inflected" class="form-label">Add Inflected</label>
      <input type="checkbox" class="form-control" id="add_inflected" required [(ngModel)]="model.inputView.add_inflected" name="add_inflected">
    </div>


    <div class="form-row">
      <label for="partOfSpeech" class="form-label">Part of Speech</label>
      <select class="form-control selector" id="partOfSpeech" (change)="changedPartOfSpeech($event)" required>
        <option *ngFor="let partOfSpeech of partsOfSpeech()" value="{{partOfSpeech}}"  [selected]="partOfSpeech === model.inputView.part_of_speech" >{{partOfSpeech}}</option>
      </select>
    </div>

    <div class="form-row">
      <label for="latin" class="form-label">Latin</label>
      <input type="text" class="form-control lang-text" id="latin" required [(ngModel)]="model.inputView.latin" name="latin">
      <button mat-flat-button (click)="latinize()">Transliterate</button>
    </div>

    <div class="form-row">
      <label for="urdu" class="form-label">Urdu</label>
      <input type="text" class="form-control lang-text" id="urdu" required [(ngModel)]="model.inputView.urdu" name="urdu">
      <button mat-flat-button  (click)="hyphenateUrdu()">Hyphenate</button>
    </div>

    <div class="form-row">
      <label for="meaining" class="form-label">Meaining</label>
      <input type="textarea" class="form-control meaning-textarea" id="meaining" required [(ngModel)]="model.inputView.meaning" name="meaning">
    </div>
  </div>

  <button mat-flat-button type="submit" class="btn btn-success">Submit</button>
  <button  mat-flat-button  (click)="resetForm()">Clear</button>
  <br/>
  <br/>
  <span class="error">{{model.message}}</span>

</form>

