<app-messages></app-messages>
<div class="form-container">

    <mat-form-field>
      <mat-label>Hindi</mat-label>
      <input matInput type="text" id="hindi" required [(ngModel)]="model.inputView.hindi" name="hindi">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Index</mat-label>
      <input matInput type='number' id="index" required [(ngModel)]="model.inputView.index" name="index">
    </mat-form-field>

  <mat-form-field>
    <mat-label>Select Accidence</mat-label>
    <mat-select (selectionChange)="onSelectionChange($event.value)">
      <mat-option *ngFor="let option of accidenceOptions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <mat-checkbox [(ngModel)]="model.inputView.show_canonical">Show Canonical</mat-checkbox>

    <mat-checkbox [(ngModel)]="model.inputView.treat_as_invariable">Treat as invariable</mat-checkbox>


    <mat-form-field>
      <mat-label>Part of Speech</mat-label>
      <mat-select (change)="changedPartOfSpeech($event)" [(ngModel)]="model.inputView.part_of_speech">

        <mat-option *ngFor="let partOfSpeech of partOfSpeechComboValues" [value]="partOfSpeech.value">
          {{partOfSpeech.value}}
        </mat-option>

      </mat-select>
    </mat-form-field>

  <div class = "form-input-field-with-button">
    <mat-form-field  style="width:30em">
      <mat-label>Latin</mat-label>
        <input type="text" matInput id="latin" required [(ngModel)]="model.inputView.latin" name="latin">
    </mat-form-field>
    <button mat-flat-button style="margin-top: .5em" (click)="latinize()">Transliterate</button>
  </div>

  <div class = "form-input-field-with-button">
    <mat-form-field  style="width:30em">
      <mat-label>Urdu</mat-label>
      <input type="text" matInput id="urdu"  [(ngModel)]="model.inputView.urdu" name="urdu">
    </mat-form-field>
    <button mat-flat-button style="margin-top: .5em" (click)="hyphenateUrdu()">Hyphenate</button>
  </div>


  <mat-form-field  style="width:50em">
    <mat-label>Meaning</mat-label>
    <textarea matInput id="meaning" required [(ngModel)]="model.inputView.meaning" name="meaning"></textarea>
  </mat-form-field>

  <div class="form-bottom-button-strip">
    <button mat-flat-button (click)="onSubmit()">Submit</button>
    <button  mat-flat-button  (click)="resetForm()">Clear</button>
  </div>



</div>

