<div style = 'cursor : pointer'>
  <i class="fa fa-times close" aria-hidden="true"  (click) = 'close()'></i>
</div>
<form #contactForm='ngForm'>
  <h4 style='text-align : center ; '>Add Master Entry</h4>


  <mat-form-field  style="width: 20em">
    <mat-label>Hindi</mat-label>
    <input matInput placeholder="Hindi" name='hindi' ngModel required>
  </mat-form-field>

  <mat-form-field style="width: 20em">
    <mat-label>Comma-separated Indexes</mat-label>
    <input matInput placeholder="CSValues" name='csvalues' ngModel required/>
  </mat-form-field>

  <div class="form-bottom-button-strip">
    <button mat-flat-button [disabled]='contactForm.invalid' (click)='submit(contactForm)'>Send</button>
    <button mat-flat-button (click)='close()'>Cancel</button>
  </div>
</form>
