
.messages-container {
  display: flex;
  color: black;
  background-color: lightcyan;
  border: 1px solid dodgerblue;
  padding: 20px;
  position: relative;
}

.errors-container {
  display: flex;
  color: black;
  background-color: lightcoral;
  border: 1px solid red;
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
}


