<div class="main">
  <div class="menu">
    <button mat-flat-button style="margin-right: 5px" (click)="hindiToLatinClicked()">Hindi To Latin (with DB)</button>
    <button mat-flat-button style="margin-right: 5px" (click)="hindiToLatinAutomaticClicked()">Hindi To Latin (automatic)</button>
    <button mat-flat-button style="margin-right: 5px" (click)="urduToHindiClicked()">Urdu to Hindi</button>
    <button mat-flat-button style="margin-right: 5px" (click)="hindiToUrduClicked()">Hindi to Urdu</button>
    <button mat-flat-button style="margin-right: 5px" (click)="latinToIPAClicked()">Latin to IPA</button>
  </div>
  <div class="panels">
    <mat-form-field style="width: 90%; height: 10em">
      <mat-label>Hindi</mat-label>
      <textarea matInput id="hindiArea" [(ngModel)]="model.hindi"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 90%; height: 10em">
      <mat-label>Latin - II Forum</mat-label>
      <textarea matInput id="latinArea" [(ngModel)]="model.latin"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 90%; height: 10em">
      <mat-label>Latin - IPA</mat-label>
      <textarea matInput id="ipaArea" [(ngModel)]="model.ipa"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 90%; height: 10em">
      <mat-label>Urdu</mat-label>
      <textarea matInput id="urduArea" [(ngModel)]="model.urdu"></textarea>
    </mat-form-field>

  </div>
  <div class="message">{{model.message}}</div>
</div>
