/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Noto Nastaliq Urdu Regular';
  src: url('assets/fonts/NotoNastaliqUrdu-Regular.ttf')
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('ttf')
}

html, body {
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

// this makes the body take really 100% of the space
div[ng-view]{
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



