<div class="form-container">
  <div style="width: 100%; padding: 2em">
    <mat-label>File Commands</mat-label>
  </div>

  <div class="form-input-field-with-button">

    <mat-form-field style="width: 20em;">
      <mat-label>URL Key</mat-label>
      <input matInput type="text" class="form-control lang-text" style="margin-right: 5px" id="urlKey" required [(ngModel)]="fileName" name="urlKey"  [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='somethingSelected($event.option.value)'>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.key}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button  mat-flat-button  (click)="reingestFrom()">Re-ingest from</button>
    <button  mat-flat-button  (click)="reindexFrom()">Re-index from</button>
    <button  mat-flat-button  (click)="htmlDescription()">HTML description</button>
    <button  mat-flat-button  (click)="regenerateOneTag()">One Tag JSON-LD </button>
    <button  mat-flat-button  (click)="regenerateTagJsonLdsStartingFrom()">Tag JSON-LD from</button>
  </div>

  <div style="width: 100%; padding: 2em">
    <mat-label>Global Commands</mat-label>
  </div>


  <div style="display:flex; flex-flow: row wrap; gap: 1em">

    <button   mat-flat-button  (click)="regenerateSpellCheck()">Spell Check Regeneration</button>

    <button   mat-flat-button  (click)="clearCaches()">Clear Caches</button>

    <button   mat-flat-button  (click)="clearCaches()">Generate Sitemap</button>

    <button   mat-flat-button  (click)="reingestAll()">Reingest All</button>

    <button   mat-flat-button  (click)="regenerateAllTagJsonLds()">Regenerate All Tag JsonLds</button>

    <button   mat-flat-button  (click)="refreshStats()">Refresh Stats</button>
  </div>


  <span class="error">{{message}}</span>

</div>
