<div class="main-container">
  <div class="header">


    <div class="form-input-field-with-button">
      <mat-form-field style="width: 15em">
        <mat-label>Inflected Hindi</mat-label>
        <input matInput type="text" required [(ngModel)]="model.inflectedHindi" >
      </mat-form-field>
      <mat-icon (click)="inflectedHindiClicked()">search</mat-icon>
    </div>

    <div class="form-input-field-with-button">
      <mat-form-field style="width: 15em">
        <mat-label>Master Dictionary ID</mat-label>
        <input matInput type="text" required [(ngModel)]="model.masterDictionaryId" >
      </mat-form-field>
      <mat-icon (click)="masterDictionaryIdClicked()">search</mat-icon>
    </div>



      <button mat-flat-button (click)="insertInflected()">Insert</button>
    </div>



  </div>
  <div class="body">
    <table width="100%">
      <tr class="row">
        <td colspan="2">Inf. Hindi</td>
        <td colspan="3">Master Dictionary</td>
        <td>P.O.S</td>
        <td>Accidence</td>
        <td>Inf. Romanized</td>
        <td>Inf. Urdu</td>
        <td>Irregular</td>
        <td>Hide Canonical</td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let entry of this.model.entries" class="row">
        <td >{{entry.inflectedHindi}}</td>
        <td >{{entry.inflectedHindiIndex}}</td>
        <td >{{entry.masterDictionaryHindi}}</td>
        <td >{{entry.masterDictionaryIndex}}</td>
        <td>{{entry.masterDictionaryId}}</td>
        <td>{{entry.partOfSpeech}}</td>
        <td>{{accidenceToString(entry)}}</td>
        <td>{{entry.inflectedRomanized}}</td>
        <td>{{entry.inflectedUrdu}}</td>
        <td>{{entry.irregular}}</td>
        <td>{{entry.hideCanonical}}</td>
        <td>
          <button mat-button (click)="updateInflected(entry)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button mat-flat-button (click)="deleteInflected(entry.inflectedHindi, entry.inflectedHindiIndex)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <div>
    </div>
